<div class="container">
  <br />
  <div class="select my-2 ">
    <small class="my-5 lead"> Choise your Trainer</small>
    <select
      class="form-select form-select-lg mb-3"
      [(ngModel)]="trainerSeleccionado"
      class="form-select"
      aria-label="Default select example"
    >
      <option
        class="option my-2"
        *ngFor="let trainer of trainerList"
        value="{{ trainer.id }}"
      >
        {{ trainer.name }}
      </option>
    </select>
  </div>

  <div class="d-flex align-content-start flex-wrap">
    <div

      *ngFor="
        let p of pokemonList | paginate: { itemsPerPage: 20, currentPage: page }
      "
      class="card mouse m-3 align-center"
      style="width: 18rem"
    >
      <img
        class="card-img-top text-center"
        width="150"
        height="150"
        class="img-fluid"
        src="{{ p.photo }}"
        alt="Card image cap"
      />
      <div class="card-body">
        <h2 (click)="showDetails()" class="card-title">{{ p.name }}</h2>

        <div >
          <ul class="m-2 fw-lighter">
            <li>{{ p.hpTitle }} {{ p.hpValue }}</li>
            <li>{{ p.attackTitle }} {{ p.attackValue }}</li>
            <li>{{ p.defenseTitle }} {{ p.defenseValue }}</li>
            <li>{{ p.speedTitle }} {{ p.speedValue }}</li>
          </ul>
          <hr>
          <a (click)="addPokemon(p)" href="#" class="btn btn-primary">Add</a>
        </div>
      </div>
    </div>
  </div>

  <!-- PAGINATiON -->
  <div class="lead">
    <pagination-controls
      class="text-center my-5 p-5 border-secondary"
      (pageChange)="page = $event"
      previousLabel="Prev page"
    ></pagination-controls>
  </div>
</div>
