<div class="container">
  <div class="col">
    <div class="container bg-link mr-auto">
      <nav class="navbar navbar-expand-md navbar-primary border-3 my-3 p-5">
        <a
          routerLink=""
          class="navbar-brand animate__animated animate__bounce animate__faster"
        >
          <img
            width="250"
            height="auto"
            src="../../../assets/pokemon-logo.svg "
            alt="logo-pokemon"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a routerLink="" class="nav-item nav-link active display-6" href="#"
              >Pokedex <span class="sr-only"></span
            ></a>
            <a routerLink="teams" class="nav-item nav-link display-6" href="#"
              >Teams</a
            >
            <a
              routerLink="trainers"
              class="nav-item nav-link display-6"
              href="#"
              >Trainers</a
            >
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
